
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}


.app {
 
  background-image: url("../src/Assets/newbg.jpg");
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center; 
   height: 100vh; 
  width: 100vw;

}
.search {
  display: flex; 
  justify-content: center; 
}

.search input {
  text-align: center;
  margin-top: 10px;
  padding: 8px;
  border-radius: 25px;
  border: 2px solid rgb(65, 65, 156);
  font-weight: bold;
 
}
.top{
  display: flex;
  flex-direction: column;
  /* color: rgb(248, 239, 239); */
}
.app .description {
  position: relative;
  right: 50%;
  transform-origin: 0 0;
  transform: rotate(269deg);
  font-size: 1.6rem;
  color:black;
  font-weight: bold;

}
.top .temp{
  font-size: 2.6rem;
}
.container { 
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
}

.top .location { 
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
}

.app .bottom {
  display: flex; 
  text-align: center;
 gap:20px;
 
  padding: 1rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.645);

}

.bold {
  font-weight: 700;
}